body {
	/*background-color:black; */
	background-image: url("../Images/starry.jpg");
	 background-size: cover;
}
h2{
	margin-left:20%;
}

button{
	border:blue;
	color:black;
	background-color:blue;
	display:block;
	
	width:100%;
}
#b1{
	margin-top:-10%;
}
#b2{
	
}
#b3{
	
}

button:hover{
	background-color:white;
}



	
#animate{
	position:relative;
	width:10%;
	height:10%;
	margin-left:37%;
	margin-top:5%;
	
	animation-duration: 20s;
	animation-name: travel;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
#Voyager{
	height:50%;
	width:50%;
}

@keyframes travel{
	0%{
		margin-top:10%;
	}
	25%{
		margin-top:5%;
	}
	50%{

	}
	75%{
	}
	100%{
		margin-left:100%;
	}
}
	

#Featured{
	color: blue;
	font-family: Bahnschrift;
	text-align: Left;
	margin-left:1%;
	border: 1px solid blue;
	width:10%;
}

.Planets{
	position:absolute;
	top: 25%;
}
#Sun{
	vertical-align:middle;
	height:30%;
	width:30%;
	margin-left: auto;
	margin-right: 1%;
	display:inline-block;
}
#Mercury{
	vertical-align:middle;
	height:1.5%;
	width:1.5%;
	display: inline;
	margin-left: auto;
	margin-right: 0.5%;
	
	transition: transform 1.5s;
}
#Venus{
	vertical-align:middle;
	height:4.7%;
	width:4.7%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
#Earth{
	vertical-align:middle;
	height:5%;
	width:5%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
#Mars{
	vertical-align:middle;
	height:2.5%;
	width:2.5%;
	margin-left: auto;
	margin-right: auto;
	/*background-color:red;*/
	display: inline;
}
#Jupiter{
	vertical-align:middle;
	height:15%;
	width:15%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
#Saturn{
	vertical-align:middle;
	height:20%;
	width:20%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
#Uranus{
	vertical-align:middle;
	height:8%;
	width:8%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
#Neptune{
	vertical-align:middle;
	height:8%;
	width:8%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}


img{
    transition: transform 1s;
}
img:hover:not(#Sun, #Jupiter, #Mercury, #Saturn, #Voyager){
    transform:scale(2);
}
#Mercury:hover{
	transform:scale(4);
}
#Jupiter:hover{
	transform:scale(1.1);
}
#Sun:hover{
	transform:scale(1.1);
}
#Saturn:hover{
	transform:scale(1.2);
}

