body {background-color:black; border-left:5px solid red; border-right:5px solid red}
h1 {color:red}
p {color:white;}

#woulge1{
	font-weight:bold; font-family:Bodoni MT Black; font-size:50px
}
#reagan{
	border-left:0px }
}
