body {background-color:black; background-image: "../Images/Solar_System.jpg"}

#Featured{
	color: blue;
	font-family: Bahnschrift;
	text-align: Left;
}

.Planets{
	position:absolute;
	top: 25%;
	display:inline;
}
#Sun{
	vertical-align: middle;
	height:30%;
	width:30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10%;
}
#Mercury{
	vertical-align: middle;
	height:1.5%;
	width:1.5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}
#Venus{
	height:4.7%;
	width:4.7%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}
#Earth{
	height:5%;
	width:5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}
#Mars{
	height:2.5%;
	width:2.5%;
	margin-left: auto;
	margin-right: auto;
	/*background-color:red;*/
	display: block;
	margin-bottom:5%;
}
#Jupiter{
	height:15%;
	width:15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}
#Saturn{
	height:20%;
	width:20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}
#Uranus{
	height:8%;
	width:8%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}
#Neptune{
	height:8%;
	width:8%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
}


img{
    transition: transform 1s;
    width:10%;
    height:10%;
}
img:hover{
    transform:scale(2);
}
