body {
	background-color:black; 
	background-size:100%;
	background-repeat:no-repeat;
	color:white;
	font-family:Bank Gothic;
	}
h1{
	text-align: center;
}

.btn{
	height:100px;
	width:100px;
	border-color:blue;
	background:none;
	color:white;
	border-radius:50%;
}

.box1{
	position:absolute;
	left:30%;
	top:25%;
}
.content1{
	display:inline-block;
	position:absolute;
	visibility:collapse;
	opacity: 0;
	width:500%;
}

.box1:hover .content1 {
	display: block;
	visibility:visible;	
	opacity:1;
	transition:1s ease;
}


.box2{
	position:absolute;
	left:20%;
	bottom:20%;
}
.content2{
	display:inline-block;
	position:absolute;
	visibility:collapse;
	opacity: 0;
	bottom:10%;
	left:100%;
	width:500%;
}

.box2:hover .content2 {
	display: block;
	visibility:visible;	
	opacity:1;
	transition:1s ease;
}


.box3{
	position:absolute;
	left:50%;
	bottom:5%;
}
.content3{
	display:inline-block;
	position:absolute;
	visibility:collapse;
	opacity:0;
	bottom:100%;
	width:400%;
}

.box3:hover .content3 {
	display: block;
	visibility:visible;	
	opacity:1;
	transition:1s ease;
}


.box4{
	position:absolute;
	left:60%;
	top:30%;
}
.content4{
	display:inline-block;
	position:absolute;
	visibility:collapse;
	opacity:0;
	width:400%;
	left:-100%;
}

.box4:hover .content4 {
	display: block;
	visibility:visible;	
	opacity:1;
	transition:1s ease;
}

#Return{
	position:fixed;
	bottom:1%;	
	left:1%;
}
#Rocket{
	width:10%;
	height:10%;
}