body {
	background-color:black; 
	background-size:50%;
	background-repeat:no-repeat;
	color:white;
	font-family:Bank Gothic;
}
h1{
	text-align: center;
}


#Text1{
	width: 50%;
	height: 50%;
	margin-right:5%;
	margin-left:auto;
	margin-top:5%;
}
#Text2{
	width: 50%;
	height: 50%;
	margin-right:5%;
	margin-left:auto;
	margin-top:5%;
}
#Text3{
	width: 50%;
	height: 50%;
	margin-right:5%;
	margin-left:auto;
	margin-top:5%;
}

#Return{
	position:fixed;
	bottom:1%;
	left:1%;
}
#Rocket{
	background-color:red;
	width:10%;
	height:10%;
}